@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	text-decoration-color: #8e8d8a;
	background: #EAE7DC;
}

a {
	text-decoration: none;
}
a:link {
  color: #E85A4F;
}

a:visited {
  color: #E98A74;
}

a:hover {
  color: #D8C3A5;
}

a:active {
  color: #8e8d8a;
}
