@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

html, body {
	height: 100%;
	margin: 0;
	padding-top: 70px; 
	font-family: 'Roboto', sans-serif;
	text-decoration-color: #8e8d8a;
	background: #EAE7DC;
}

h1 {
	color: #CF5A4D;
}

h2 {
	color: #E98074;
}

a {
	text-decoration: none;
}
a:link {
  color: #E85A4F;
}

a:visited {
  color: #E98A74;
}

a:hover {
  color: #D8C3A5;
}

a:active {
  color: #8e8d8a;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover .nav-link {
	color: #E85A4F;
}

.navbar-dark .navbar-nav .nav-link {
	color: #CF5A4D;
}
/*
#mapa {
	width: 800px;
	height: 600px;
}